.bio {
  font-size: 1.125em;
  padding: 3.325em 0 5em;
  position: relative;
  .container.constrained {
    max-width: 45.629em;
  }
}

.about-photos {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  img {
    float: left;
    width: 25%;
  }
}
