footer {
  background-color: $darkBlue;
  display: block;
  padding: 11em 0 8em;
  position: relative;

  svg.separator {
    width: 100%;
    height: auto;
    position: absolute;
    top: -5px;
    left: 0;
    .blits {
      fill: $blits;
    }
    .vibe {
      fill: $vibe;
    }
  }

  nav {
    text-align: right;
    ul {
      list-style: none;
    }
    a {
      font-size: 32px;
      line-height: 1em;
      font-family: $headerFont;
      &:after {
        content: " ->";
      }
      &.external:after {
        content: " -->";
      }
      @media (min-width: $mnbp) {
        font-size: 51px;
      }
    }
  }
}
