.the-door {
  background-color: darken($darkBlue, 5%);
  min-height: 92vh;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    background-color: $spark;
    font-family: $headerFont;
    font-size: 24px;
    line-height: 1;
    padding: 16px;
    text-align: center;
    margin-top: 16px;
    position: relative;
    opacity: 0;
    animation: show-label 0.5s ease-in 1.5s forwards;

    svg {
      position: absolute;
      bottom: 100%;
      right: 24px;
      width: 36px;
      height: auto;
      path { fill: $spark; }
    }

    @media (min-width: $mnbp) {
      font-size: 36px;
    }
    @media (min-width: $smbp) {
      font-size: 51px;
      margin-top: 24px;
      svg {
        right: 50px;
        width: 72px;
      }
    }
  }

  &_general-msg {
    color: white;
    width: 100%;
    max-width: 600px;
    padding: 24px 8px;
    font-size: 16px;
    margin: 0;
    @media (min-width: $mnbp) {
      font-size: 24px
    }
  }

  &_err-msg {
    padding: 8px 0;
    color: $link;
    width: 100%;
    max-width: 600px;
    margin: 0;
  }
}

@keyframes show-label {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  } 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.the-door_peek-out {
  background-color: #6B518F;
  border-radius: 40px;
  width: 100%;
  max-width: 800px;
  height: 96px;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: -webkit-radial-gradient(white, black);

  @media (min-width: $mnbp) {
    height: 180px;
  }
  @media (min-width: $smbp) {
    height: 240px;
  }

  &_cover {
    background-color: darken($link, 10%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px;
    height: 100%;
    overflow: hidden;
    animation: slide-cover 600ms cubic-bezier(.75, 0, 0.95, 0.60) 1s forwards;
    z-index: 100;
  }
  &_cover-handle {
    background-color: $link;
    width: 80px;
    border-radius: 80px;
    height: 100%;
    box-shadow: 0 4px 36px 0 rgba(#6C1B18, 0.4);
    margin-left: auto;
  }

  &_rainbow-1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: spiral-1 60s linear infinite;
  }
  &_rainbow-2 {
    display: inline-block;
    position: absolute;
    right: -80px;
    top: 58%;
    transform: translateY(-50%) scale(0.85);
    animation: spiral-2 60s linear infinite;
  }

  img {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: auto;
    left: calc(50% + 24px);
    transform: translateX(-50%);
  }

  &::after {
    content: ' ';
    border-radius: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 4px 40px 0 #101033;
    z-index: 80;
  }
}

@keyframes slide-cover {
  0% {
    transform: translateX(0%);
  }
  70% {
    transform: translateX(calc(-100% + 96px));
  }
  85% {
    transform: translateX(calc(-100% + 136px));
  }
  100% {
    transform: translateX(calc(-100% + 96px));
  }
}

@keyframes spiral-1 {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(-360deg);
  }
}

@keyframes spiral-2 {
  0% {
    transform: translateY(-50%) scale(0.85) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) scale(0.85) rotate(360deg);
  }
}

.the-door_input-btn-wrap {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  margin: 40px auto 0;
  width: 100%;
  max-width: 600px;

  input {
    font-size: 35px;
    height: 66px;
    background-color: $text;
    color: white;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 0 16px;
    outline: none;
    margin: 0;
    padding-top: 2px;

    &:focus {
      border-bottom-color: $link;
    }
  }
  button {
    background-color: $link;
    border: none;
    font-family: $headerFont;
    font-size: 24px;
    height: 66px;
    padding: 0 16px;
    cursor: pointer;

    &[disabled] {
      color: rgba($text, 0.5);
    }
  }

  @media (min-width: $mnbp) {
    input {
      font-size: 51px;
      height: 82px;
    }
    button {
      font-size: 36px;
      height: 82px;
    }
  }

  &--submitting {
    animation: submitting-pulse 2s linear infinite;
  }
}

@keyframes submitting-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
