$darkBlue: #0c1f47;
$text: #040d1f;
$link: #db3832;
$spark: #d1f9da;
$vibe: #c3e8e6;
$blits: #f4d7ec;
$sparkle: #00b1ef;


$baseFont: 'Montserrat', sans-serif;
$headerFont: 'Staatliches', sans-serif;

$mnbp: 580px;
$smbp: 768px;
$mdbp: 900px;
$lgbp: 1100px;
